.container {
  margin: 0 auto;
  width: 400px;
  color: #E6E1DC;
}

.old {
  background-color: #e6e1dc;
}

@keyframes update {
    0% {background-color: #CC7833; }
    100% {background-color: #E6E1DC;}
}

.update {
  background-color:#E6E1DC;
  animation-name: update;
  animation-duration: 3s;
}

ul {
  list-style: none;
  list-style-type: none;
  padding: 0;
}

li {
  text-align:center;
  margin: 10px auto;
  color: black;
  box-shadow: 2px 2px 2px 2px #888888;
}

body {
  background-color: #e6e1dc;
}


.status{
  font-weight: bold; 
  font-size: 15px;
  float: left;
}

.invite {
  margin: 20px auto;
  font-size: 15px;
}
.content-container {
  padding: 5px;
}


h2 {
  text-align: center;
}

.link a {
  color:black;
  text-decoration: none; /* no underline */
  font-weight: bold;
}

.details {
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.vector {
  float: left;
  font-size: 15px;
}

.sender_id {
  font-weight: bold; 
  font-size: 15px;
  float:left;
  margin-right: 5px;
}

.time {
  font-weight: bold;
  font-size: 15px;
  float: right;
}

.lifooter {
  padding: 2px;
}

.overlay-hidden {
  background-color: gray;
  display:none;
}

.overlay-show {
  background-color: gray;
  opacity:.1;
  display:visible;
}

hr.update{
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #CC7833;
  margin: 1em 0;
  padding: 0; 
}

hr.old{
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #6691AF;
  margin: 1em 0;
  padding: 0; 
}




